/* ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li .home {
    float: left;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

li .desktop-menu {
    float: right;
}

li a {
    display: block;
    text-align: center;
    padding-right: 40px;
    font-size: 20px;
} */

/* .home {
    float: left;
    font-size: 20px;
    font-weight: bold;
    display: block;
}

.desktop-menu {
    text-align: center;
    display: block;
    float: right;
    font-size: 20px;
}

.mobile-menu {
    text-align: center;
    display: none;
} */

#navbar {
    overflow: hidden;
    display: flex;
    /* 將 navbar 設置為 flexbox 佈局 */
    justify-content: space-between;
    /* 讓 home 和 icon 兩側分佈 */

}

.nav-right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home,
.item_top {
    color: black;
    text-decoration: none;
    font-size: 20px;
    padding: 10px;
}

.home {
    font-weight: bold;
}

.burger-icon {
    display: none;
    cursor: pointer;
}

.mobile_item,
.close-icon {
    display: none;
}

/* #toggle {
    display: none;
}

#sidebar ul {
    display: none;
} */

/* .bar {
    width: 25px;
    height: 3px;
    background-color: white;
} */

/* center text */
.CenterText {
    font-size: 40px;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 105px;
    padding-bottom: 105px;
    margin-bottom: 10px;
    background-color: blanchedalmond;
    text-wrap: nowrap;
}

/* small box*/
.smallbox {
    display: grid;
    max-width: 1180px;
    padding: 10px;
    margin: 0px auto;
    grid-column-gap: 20px;
    overflow: hidden;
    grid-template-columns: 366.66px 386.66px 386.66px;
    grid-template-rows: 50px;
    align-items: center;
    /* 垂直置中 */

}

.box0,
.box2 {
    height: 50px;
    position: relative;
    justify-content: center;
    align-items: center;
    /* 垂直置中 */


}

.box0 img,
.box2 img {
    z-index: 10;
    position: relative;

}


.box1 {
    position: absolute;
    bottom: 0;
    height: 50px;
    width: 1000px;
    max-width: 100%;
    background-color: rgba(154, 14, 14, 0.3);
    z-index: -1;
}

.box1 span {
    position: relative;
    left: 90px;
    top: 10px;
    z-index: 1;
    font-size: 20px;
    color: black;
    white-space: nowrap;
}



/* big box*/
.bigbox {
    display: grid;
    gap: 20px;
    /* 圖片之間的間距 */
    max-width: 1180px;
    /* 最大寬度為1200px */
    margin: 0px auto;
    padding: 10px;
    /* 水平置中 */
    overflow: hidden;
    grid-template-columns: 2fr repeat(4, 1fr);
    grid-template-rows: 300px 300px;
}

.item,
.item_bottom1,
.item_bottom2 {
    position: relative;
    /* 將容器設置為相對定位 */
    overflow: hidden;
}

.item img,
.item_bottom1 img,
.item_bottom2 img {
    width: 100%;
    height: 100%;
    /* 將圖片的最大寬度設定為其父元素的寬度 */
    display: block;
    /* 以塊級元素顯示 */
    height: 300px;
    object-fit: cover;
}

.icon img {
    display: block;
    height: 40px;
    width: 40px;
    z-index: 0;
    position: absolute;
    top: 0;
    right: 0;
}

.text {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(154, 14, 14, 0.3);
    box-sizing: border-box;
    font-size: 20px;
    text-align: center;
}


@media (min-width:600px) and (max-width:1200px) {
    .smallbox {
        justify-content: center;
        grid-template-columns: 1fr 1fr;
        grid-row-gap: 20px;
        grid-template-rows: 50px;
        width: 90%;
        margin: auto;
    }

    .box2 {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .bigbox {
        justify-content: center;
        grid-template-columns: repeat(4, 1fr);
        width: 90%;
        grid-template-rows: 300px 300px;
    }

    .item_bottom1 {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .item_bottom2 {
        grid-column-start: 3;
        grid-column-end: 5;
    }

}


@media (min-width:360px) and (max-width:600px) {
    .home {
        display: block;
        float: left;
    }

    .item_top {
        display: none;
    }

    /* #toggle {
        position: fixed;
        right: 20px;
        width: 40px;
        height: 40px;
        background: lightskyblue;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #toggle::before {
        content: '';
        position: absolute;
        width: 20px;
        height: 2px;
        background: white;
        transform: translateY(-5px);
        transition: 0.2s;
    }

    #toggle::after {
        content: '';
        position: absolute;
        width: 20px;
        height: 2px;
        background: white;
        transform: translateY(5px);
        transition: 0.2s;
    }

    #toggle.active::before {
        transform: translateY(0px) rotate(45deg);

    }

    #toggle.active::after {
        transform: translateY(0px) rotate(-45deg);

    }

    #sidebar {
        position: fixed;
        top: 0;
        right: 0;
        width: 40%;
        height: 100vh;
        background: lightpink;
        opacity: 0.7;
        transition: 0.5s;
    }

    #sidebar.active {
        right: 0px;
    }

    #sidebar ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #sidebar ul li {
        list-style-type: none;
        display: block;
        color: white;
        text-decoration: none;
        padding: 10px;
        font-size: 20px;
    } */

    .burger-icon {
        display: block;
        float: right;
        padding: 10px;
    }

    .close-icon {
        position: fixed;
        top: 0;
        right: 20px;
        cursor: pointer;
    }

    #mobile-menu {
        display: none;
        /* flex-direction: column;
        align-items: center; */
        position: fixed;
        top: 0;
        right: 0;
        width: 250px;
        height: 100%;
        background-color: rgb(4, 89, 89);
        z-index: 1;
        padding-top: 10px;
    }

    #mobile-menu.show {
        display: block;
        text-align: center;
        /* 顯示側邊欄 */
    }

    #mobile-menu a {
        display: block;
        color: white;
        text-decoration: none;
        padding: 10px;
        font-size: 20px;
    }

    .smallbox {
        grid-template-columns: 90%;
        grid-row-gap: 20px;
        justify-content: center;
    }

    .smallbox img {
        object-fit: none;
    }

    .bigbox {
        grid-template-columns: 90%;
        grid-row-gap: 20px;
        justify-content: center;
    }

    .icon img {
        object-fit: contain;
    }
}