body {
    margin: 0px;
}

#navbar {
    overflow: hidden;
    display: flex;
    justify-content: space-between;
}

.nav-right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home,
.item_top {
    color: black;
    text-decoration: none;
    font-size: 20px;
    padding: 10px;
}

.home {
    font-weight: bold;
}

.burger-icon {
    display: none;
    cursor: pointer;
}

.mobile_item,
.close-icon {
    display: none;
}

/* center text */
.CenterText {
    font-size: 40px;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 105px;
    padding-bottom: 105px;
    margin-bottom: 10px;
    background-color: blanchedalmond;
    display: flex;
}

#welcome {
    width: 90%;
}


/* small box*/
.smallbox {
    display: grid;
    max-width: 1180px;
    padding: 10px;
    margin: 0px auto;
    grid-column-gap: 20px;
    overflow: hidden;
    grid-template-columns: 366.66px 386.66px 386.66px;
    grid-template-rows: 50px;
    align-items: center;

}

.box0,
.box2 {
    height: 50px;
    position: relative;
    justify-content: center;
    align-items: center;


}

.box0 img,
.box2 img {
    z-index: 10;
    position: relative;

}


.box1 {
    position: absolute;
    bottom: 0;
    height: 50px;
    width: 1000px;
    max-width: 100%;
    background-color: rgba(154, 14, 14, 0.3);
    z-index: -1;
}

.box1 span {
    position: relative;
    left: 90px;
    top: 10px;
    z-index: 1;
    font-size: 20px;
    color: black;
    white-space: nowrap;
}



/* big box*/
.bigbox {
    display: grid;
    gap: 20px;
    max-width: 1180px;
    margin: 0px auto;
    padding: 10px;
    overflow: hidden;
    grid-template-columns: 2fr repeat(4, 1fr);
    grid-template-rows: 300px 300px;
}

.item,
.item_bottom1,
.item_bottom2 {
    position: relative;
    overflow: hidden;
}

.item img,
.item_bottom1 img,
.item_bottom2 img {
    width: 100%;
    height: 100%;
    display: block;
    height: 300px;
    object-fit: cover;
}

.icon img {
    display: block;
    height: 40px;
    width: 40px;
    z-index: 0;
    position: absolute;
    top: 0;
    right: 0;
}

.text {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(154, 14, 14, 0.3);
    box-sizing: border-box;
    font-size: 20px;
    text-align: center;
}


@media (min-width:600px) and (max-width:1200px) {
    .smallbox {
        justify-content: center;
        grid-template-columns: 1fr 1fr;
        grid-row-gap: 20px;
        grid-template-rows: 50px;
        width: 90%;
        margin: auto;
    }

    .box2 {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .bigbox {
        justify-content: center;
        grid-template-columns: repeat(4, 1fr);
        width: 90%;
        grid-template-rows: 300px 300px;
    }

    .item_bottom1 {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .item_bottom2 {
        grid-column-start: 3;
        grid-column-end: 5;
    }

}


@media (min-width:360px) and (max-width:600px) {
    .home {
        display: block;
        float: left;
    }

    .item_top {
        display: none;
    }

    .burger-icon {
        display: block;
        float: right;
        padding: 10px;
    }

    .close-icon {
        position: fixed;
        top: 0;
        right: 20px;
        cursor: pointer;
    }

    #mobile-menu {
        display: none;
        position: fixed;
        top: 0;
        right: 0;
        width: 250px;
        height: 100%;
        background-color: rgb(4, 89, 89);
        z-index: 1;
        padding-top: 10px;
    }

    #mobile-menu.show {
        display: block;
        text-align: center;
        /* 顯示側邊欄 */
    }

    #mobile-menu a {
        display: block;
        color: white;
        text-decoration: none;
        padding: 10px;
        font-size: 20px;
    }

    .smallbox {
        grid-template-columns: 90%;
        grid-row-gap: 20px;
        justify-content: center;
    }

    .smallbox img {
        object-fit: initial;
    }

    .bigbox {
        grid-template-columns: 90%;
        grid-row-gap: 20px;
        justify-content: center;
    }


    .icon img {
        object-fit: contain;
    }
}