/*--blog--*/
h1{
    
    font-weight:bold;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    padding-top: 40px;
    border-bottom: 1px solid rgba(0,0,0,0.05);
    font-size: 2.8rem;
    
}
.aboutme{
display: flex;
/*justify-content: center;
align-items: center;*/
flex-direction: column;
}
h2{
    font-size: 2.4rem;
    font-weight: 600px;
}
h2:hover{
    color: rgb(187, 64, 127);
    transition: all see 0.3s;
}
.Project ul{
    padding: 20px;
    font-size: 0.9rem;
}

.container {
    width:1280px;
    padding:10px;
    display: flex;
    margin-left:auto; /* margin-left:auto 把.container內的body設定在中間*/
    margin-right:auto; 
}
.aboutme {
    flex:1;
}
.Project {
    flex:2;
}

h3 {
    margin-top:5px;
}
.box {
    border-bottom:1px solid rgb(202, 201, 201);
}
.box:hover{
    background-color:rgba(175, 176, 177, 0.192);
}
ul li {
    color:#BFBFBF;
    font-size: 18px;
}
ol li {
    color:#BFBFBF;
    font-size: 18px;
}
p {
    color:#BFBFBF;
    font-size: 18px;
}
/*若使用者使用手機時，由下方的@media顯示方式*/
@media screen and (max-width:500px) {
    h1 {font-size:xx-large}
    h2 {font-size:x-large}
    .container {
        width:100%;
        flex-direction: column;
    }
}